<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Eventor</title>
        {% load static %}
	    <link rel="shortcut icon" href="{% static 'events/eventor_logo.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'events/style.css' %}">
        <link rel="stylesheet" href="{% static 'events/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'events/bootstrap-select.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    </head>
<body>
	<div class="main_part">
		<nav class="navbar navbar-light" style="background-color: #7ea15f; color: white">
			<a class="title" href="">
				<img src="{% static 'events/eventor_logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
				VENTOR
			</a>
			<button class="btn btn-info btn-lg" title="Добавить событие" id="create_btn" style="background-color: #edc240; !important; border:0px!important;" data-toggle="modal" data-target="#create-event-dialog">+</button>
		</nav>
		<div class="row" style="margin: 0px;  height: 92%; width:100%; overflow: auto">
			<div class="col-5"><br>
				<button class="btn btn-info" style="width: 100%; background-color: #edc240; !important; border:0px!important;" id="search_btn" title="Поиск по заданным фильтрам" >Поиск</button><br><br>
				<select class="selectpicker" data-live-search="true" multiple title="Выберите город" name="city" id="city">
					{% for city in cities %}
						<option value="{{ city }}">{{ city }}</option>
					{% endfor %}
				</select><br><br>
				<select class="selectpicker" data-live-search="true" title="Выберите тему" multiple name="theme" id="theme">
					{% for theme in themes %}
						<option value="{{ theme }}">{{ theme }}</option>
					{% endfor %}
				</select><br><br>
				<input type="date" class="form-control" name="date_start" id="date_start"><br>
				<input type="date" class="form-control" name="date_end" id="date_end"><br>
			</div>
			<div class="col-7" style="background-color: #ededed;" id="events">
				<br>
				{% for event in events %}
				<div style="background-color:#f5f5f5; padding:8px">
					{% if request.user.is_superuser%}<button style="float:right; background-color: #edc240; !important; border:0px!important;" class="btn btn-info delete" id="{{ event.pk }}" title="Удалить событие">x</button>{% endif %}
					<a href="" style=";text-decoration:none; color:black; padding:0 1px;" title="Подробная информация">{{ event.event_name }} <br> {{ event.event_text }} <br> {{ event.event_address }}<br> {{ event.event_date }}</a>
				</div>
				<br>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="map"></div>
	<div id="create-event-dialog" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Создать событие</h4>
				</div>
				<div class="modal-body">
					<form method="post" action="">
						{% csrf_token %}
						<strong>{{ form.event_city.label_tag }}</strong><br>
							{{ form.event_city }}
						<strong>{{ form.event_address.label_tag }}</strong><br>
							{{ form.event_address }}
						<strong>{{ form.event_name.label_tag }}</strong><br>
							{{ form.event_name }}
						 <strong> {{form.event_theme.label_tag}} </strong> <br>
							{{ form.event_theme }}
						<strong>{{ form.event_text.label_tag }}</strong><br>
							{{ form.event_text }}
						<strong>{{ form.event_datetime.label_tag }}</strong><br>
							{{ form.event_datetime }} <br>
						<button class="btn btn-info" style="width: 100%; background-color: #edc240; !important; border:0px!important;">Создать</button>
					</form>
				</div>
				<div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
			</div>
		</div>
	</div>

	<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=bbbd2d6b-5a52-418a-9cbb-1a4af3d8c88f" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
	<script src="{% static 'events/map.js' %}" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="{% static 'events/bootstrap.js' %}"></script>
	<script src="{% static 'events/bootstrap-select.js' %}"></script>

	<script>
		$(document).ready(function(){
		  $('.selectpicker').selectpicker();
		  });
	</script>

	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
				var cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
	return cookieValue;
	}
	</script>
	<script>
		$('#search_btn').click(function(){
			var city = $('#city').val();
			var theme = $('#theme').val();
			var date_start = $('#date_start').val();
			var date_end = $('#date_end').val();
			var csrftoken = getCookie('csrftoken');
			$.ajax({
				url: '/',
				data: {
					'request':'search',
					'city':city,
					'theme':theme,
					'date_start':date_start,
					'date_end':date_end,
					'csrfmiddlewaretoken':csrftoken,
				},
				type:"post",
				success: function(data) {
					$('#events').html(data);
				},
			});
		})
	</script>

	<script>
		$('.delete').click(function(){
			var pk = $(this).attr('id');
			var csrftoken = getCookie('csrftoken');
			$.ajax({
				url:'/',
				data:{
					'request':'delete',
					'pk':pk,
					'csrfmiddlewaretoken':csrftoken,
				},
				type:"post",
				success: function(data) {
					$('#events').html(data);
				},
			});
		})
	</script>

	<script>
		$('#create_btn').click(function(){
			$('.js-overlay-campaign').fadeIn();
		    $('.js-overlay-campaign').addClass('disabled');
		    var el = '<input name="point" value="tlt"></input>';
		    $('.f').append(el);
		});

		$('.js-close-campaign').click(function() {
		    $('.js-overlay-campaign').fadeOut();
		});
	</script>

</body>
</html>