.main_part{
	height:100%;
	width:38%;
	float: left;
}

html, body {
	width: 100%; height: 100%; padding: 0; margin: 0;
}

a.title {
    color: white !important;
    text-decoration: none;
    font-size: 1.6rem;
}

a.title:hover {
	text-decoration: none !important;
}
#map {
	width: 62%; height: 100%; padding: 0; margin: 0; float: right;
}
a {
	color: #04b; /* Цвет ссылки */
	text-decoration: none; /* Убираем подчеркивание у ссылок */
}
a:visited {
	color: #04b; /* Цвет посещённой ссылки */
}
a:hover {
	color: #f50000; /* Цвет ссылки при наведении на нее курсора мыши */
}
