.main_part{
	height:100%;
	width:40%;
	color:green;
	float: left;
}

.map_part{
    float:left;
	height:100%;
}

html, body {
	height: 100%;
}

a.title {
    color: white !important;
    text-decoration: none;
    font-size: 1.6rem;
}

a.title:hover {
	text-decoration: none !important;
}